<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.event.evengers_v2.dao.EventDao">
	<insert id="addCategory" parameterType="String">
      INSERT INTO EC VALUES(#{ec_name})
   </insert>
   <select id="getCategories" resultType="eventcategory">
      SELECT EC.* FROM EC
   </select>
   <delete id="deleteCategory" parameterType="String">
      DELETE FROM EC WHERE EC_NAME=#{ec_name}
   </delete>
   
   <insert id="evtInsert" parameterType="event">
      INSERT INTO E VALUES('E'||LPAD(E_SEQ.NEXTVAL,4,0),#{e_name},#{c_id},#{e_price},#{e_category},#{e_reservedate},#{e_refunddate},#{e_contents},#{e_orifilename},#{e_sysfilename})
   </insert>
   
   <select id="getEvtCode" resultType="String" parameterType="String">
      SELECT MAX(E_CODE) FROM E WHERE C_ID=#{c_id}
   </select>
   
   <insert id="evtOptionInsert" parameterType="eventoption">
         INSERT INTO EO VALUES('EO'||LPAD(EO_SEQ.NEXTVAL,4,0),#{eo_name},#{eo_price},#{e_code})
   </insert>
   
   <select id="getEvtList" resultType="event">
   		<![CDATA[
        SELECT * FROM 
        (SELECT /*+INDEX_DESC(E PK_E_CODE)*/
        ROWNUM RN,E.* FROM E
        WHERE E_CATEGORY=#{ec_name}
        AND ROWNUM<=#{pageNum}*#{listCount}) 
        WHERE RN>((#{pageNum}-1)*#{listCount})
        ]]>
   </select>
   <select id="getEvtListSize" parameterType="String" resultType="int">
   		SELECT COUNT(*) FROM E WHERE E_CATEGORY=#{ec_name}
   </select>
	
	<insert id="evtImageInsert" parameterType="eventimage">
         INSERT INTO EI VALUES('EI'||LPAD(EI_SEQ.NEXTVAL,4,0),#{ei_orifilename},#{ei_sysfilename},#{e_code})
   	</insert>
   	<select id="getEvtInfo" parameterType="String" resultType="event">
   		SELECT * FROM E WHERE E_CODE=#{e_code}
   </select>
   <select id="getOption" resultType="eventoption">
   		SELECT * FROM EO WHERE E_CODE=#{e_code}
   </select>
   <select id="getEoPrice" parameterType="String" resultType="Integer">
   		SELECT EO_PRICE FROM EO WHERE EO_CODE=#{eo_code}
   </select>
   <select id="getEoInfo" parameterType="String" resultType="eventoption">
   		SELECT * FROM EO WHERE EO_CODE=#{eo_code}
   </select>
   <insert id="review">
	INSERT INTO RE VALUES(#{e_code},#{m_id},SYSDATE,#{re_contents},#{re_stars})
	</insert>
	<select id="getReview" resultType="review">
		<![CDATA[
        SELECT * FROM 
        (SELECT /*+INDEX_DESC(RE PK_RE_M_ID_E_CODE)*/
        ROWNUM RN,RE.* FROM RE
        WHERE E_CODE=#{e_code}
        AND ROWNUM<=#{pageNum}*#{listCount}) 
        WHERE RN>((#{pageNum}-1)*#{listCount})
        ]]><!-- 부등호 -->
    </select>
	<select id="reviewCheck" parameterType="String"
		resultType="review">
		SELECT * FROM RE WHERE E_CODE=#{e_code} AND M_ID=#{m_id}
	</select>

	<select id="reviewMemberCheck" parameterType="String"
		resultType="review">
		SELECT * FROM M WHERE M_ID=#{m_id}
	</select>
	<update id="reviewModifyBtn" parameterType="review">
		UPDATE RE
		SET
		RE_CONTENTS =#{re_contents}, RE_WRITEDATE = SYSDATE,
		RE_STARS=#{re_stars} WHERE E_CODE=#{e_code} AND M_ID=#{m_id}
	</update>
	<delete id="reviewDelete">
		DELETE FROM RE WHERE E_CODE=#{e_code} AND M_ID=#{m_id}
	</delete>
	<select id="getStarAverage" parameterType="String"
		resultType="float">
		SELECT AVG(RE_STARS) FROM REVIEW WHERE E_CODE=#{e_code, jdbcType=VARCHAR}
	</select>
	<insert id="choice">
		INSERT INTO CH VALUES(#{m_id},#{e_code})
	</insert>
	<delete id="choiceDelete">
		DELETE FROM CH WHERE E_CODE=#{e_code} AND M_ID=#{m_id}
	</delete>
	<select id="getChoiceChk" parameterType="String"
		resultType="String">
		SELECT * FROM CH WHERE E_CODE=#{e_code} AND M_ID=#{m_id}
	</select>
	<select id="choiceList" parameterType="String"
		resultType="choice">
		SELECT * FROM CH WHERE M_ID=#{m_id}
	</select>
	<select id="reviewChk" parameterType="String"
		resultType="Integer">
		SELECT COUNT(*) FROM REVIEW WHERE E_CODE=#{e_code}
	</select>
	<select id="choiceList2" parameterType="String"
		resultType="Event">
		SELECT * FROM EVENT WHERE E_CODE=#{e_code}
	</select>
	<select id="myEvtManagement" parameterType="String"
		resultType="Event">
		SELECT * FROM EVENT WHERE C_ID=#{c_id}
	</select>
	<select id="myEvtModify" parameterType="String"
		resultType="Event">
		SELECT * FROM EVENT WHERE E_CODE=#{e_code}
	</select>
	<select id="ei_sysFileName" parameterType="String"
		resultType="String">
		SELECT EI_SYSFILENAME FROM EI WHERE E_CODE=#{e_code}
	</select>
	<update id="noFiNoOpModify" parameterType="event">
		UPDATE e
		SET
		E_NAME =#{e_name}, E_PRICE = #{e_price},
		E_CATEGORY=#{e_category},E_RESERVEDATE=#{e_reservedate},E_REFUNDDATE=#{e_refunddate},E_CONTENTS=#{e_contents} WHERE E_CODE=#{e_code} AND C_ID=#{c_id} 
	</update>
	<update id="okFiNoOpModify" parameterType="event">
		UPDATE e
		SET
		E_NAME =#{e_name}, E_PRICE = #{e_price},
		E_CATEGORY=#{e_category},E_RESERVEDATE=#{e_reservedate},E_REFUNDDATE=#{e_refunddate},E_CONTENTS=#{e_contents},E_ORIFILENAME=#{e_orifilename},E_SYSFILENAME=#{e_sysfilename} WHERE E_CODE=#{e_code} AND C_ID=#{c_id} 
	</update>
	<update id="noFiOkOpModify" parameterType="event">
		UPDATE e
		SET
		E_NAME =#{e_name}, E_PRICE = #{e_price},
		E_CATEGORY=#{e_category},E_RESERVEDATE=#{e_reservedate},E_REFUNDDATE=#{e_refunddate},E_CONTENTS=#{e_contents} WHERE E_CODE=#{e_code} AND C_ID=#{c_id} 
	</update>
	<update id="okFiOkOpModify" parameterType="event">
		UPDATE e
		SET
		E_NAME =#{e_name}, E_PRICE = #{e_price},
		E_CATEGORY=#{e_category},E_RESERVEDATE=#{e_reservedate},E_REFUNDDATE=#{e_refunddate},E_CONTENTS=#{e_contents},E_ORIFILENAME=#{e_orifilename},E_SYSFILENAME=#{e_sysfilename} WHERE E_CODE=#{e_code} AND C_ID=#{c_id} 
	</update>
	  <delete id="evtOptionDelete" parameterType="String">
      DELETE FROM EO WHERE E_CODE=#{e_code}
   </delete>
   <delete id="evtImageDelete" parameterType="EventImage">
      DELETE FROM EI WHERE E_CODE=#{e_code}
   </delete>
   	<select id="getEvtCodeList" parameterType="String" resultType="String">
		SELECT E_CODE FROM EVENT WHERE C_ID=#{c_id}
	</select>
	<select id="ceoEvtList2" parameterType="String"
		resultType="Event">
		SELECT * FROM E WHERE C_ID=#{c_id}
	</select>
	<select id="searchEvt" parameterType="String"
		resultType="Event">
		SELECT * FROM E WHERE E_NAME LIKE '%'|| #{evtSearch} ||'%' OR E_CATEGORY LIKE '%'|| #{evtSearch}||'%' OR E_CONTENTS LIKE '%'|| #{evtSearch}||'%'
	</select>
	<select id="rCount" parameterType="String"
		resultType="int">
		SELECT COUNT(*) FROM RE WHERE E_CODE=#{e_code}
	</select>
	<select id="evtBuyChk" parameterType="String"
		resultType="int">
		SELECT COUNT(*) FROM EP WHERE m_id=#{m_id}
	</select>
	<delete id="myEvtDelete" parameterType="String">
		DELETE FROM E WHERE E_CODE=#{e_code}
	</delete>
	<select id="getEvtImg" parameterType="String"
		resultType="eventimage">
		SELECT * FROM EI WHERE E_CODE=#{e_code}
	</select>
	<select id="getReviewCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM RE WHERE E_CODE=#{e_code}
	</select>
</mapper>
