<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.event.evengers_v2.dao.PayDao">
	<insert id="ebInsert" parameterType="eventbuy">
		INSERT INTO EB VALUES('EB'||LPAD(EB_SEQ.NEXTVAL,4,0),#{e_code},#{m_id},#{eb_total},#{eb_dday})
	</insert>
	<select id="getEb_code" parameterType="eventbuy" resultType="String">
		SELECT MAX(EB_CODE) FROM EB WHERE M_ID=#{m_id} AND E_CODE=#{e_code}
	</select>
	<insert id="evtBuyOptionInsert" parameterType="buyselectedoption">
		INSERT INTO BS VALUES('BS'||LPAD(BS_SEQ.NEXTVAL,4,0),#{eo_code},#{eb_code})
	</insert>
	<select id="getEvtBuyInfo" parameterType="String" resultType="eventbuy">
		SELECT * FROM EB WHERE EB_CODE=#{eb_code}
	</select>
	<select id="getEvtBuyOptions" parameterType="String" resultType="buyselectedoption">
		SELECT * FROM BS WHERE EB_CODE=#{eb_code}
	</select>
	<select id="getEvtBuyOptionCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM BS WHERE EB_CODE=#{eb_code}
	</select>
	<insert id="evtPay" parameterType="eventpay">
		INSERT INTO EP VALUES('EP'||LPAD(EP_SEQ.NEXTVAL,4,0),#{e_code},#{m_id},#{ep_total},#{ep_dday},DEFAULT,DEFAULT)
	</insert>
	<select id="getEpCode" parameterType="String" resultType="String">
		SELECT MAX(EP_CODE) FROM EP WHERE M_ID=#{m_id} AND E_CODE=#{e_code}
	</select>
	<insert id="epsInsert" parameterType="eventpayselectedoption">
		INSERT INTO EPS VALUES('EPS'||LPAD(EPS_SEQ.NEXTVAL,4,0),#{eo_code},#{ep_code})
	</insert>
	<select id="memberEvtPay" parameterType="String" resultType="eventpay">
		SELECT * FROM EP WHERE M_ID=#{m_id} AND EP_CODE=#{ep_code} 
	</select>
	<select id="memberEps" parameterType="String" resultType="eventpayselectedoption">
		SELECT * FROM EPS WHERE EP_CODE=#{ep_code}
	</select>
	<select id="memberPayList" parameterType="String" resultType="eventpay">
		SELECT * FROM EP WHERE M_ID=#{m_id} ORDER BY EP_PAYDAY DESC
	</select>
	<delete id="bsDelete" parameterType="String">
		DELETE FROM BS WHERE EB_CODE=#{eb_code}
	</delete>
	<delete id="ebDelete" parameterType="String">
   		DELETE FROM EB WHERE EB_CODE=#{eb_code}
    </delete>
   	<select id="ceoEvtPayList" parameterType="String" resultType="String">
		SELECT EP_CODE FROM EP WHERE E_CODE=#{e_code} ORDER BY EP_DDAY ASC, EP_PAYDAY ASC
	</select>
	<select id="getEpInfo" parameterType="String" resultType="eventpay">
		SELECT * FROM EP WHERE EP_CODE=#{ep_code}
	</select>
	<select id="ceoAllEvtPayList" parameterType="String" resultType="eventpay">
		SELECT * FROM EP WHERE C_ID=#{m_id} ORDER BY EP_PAYDAY DESC
	</select>
	<select id="ceoEvtPayList2" parameterType="list" resultType="String">
		SELECT EP_CODE FROM EP WHERE E_CODE IN 
		<foreach collection="e_codes1" item="e_code" open="(" separator="," close=")">
			#{e_code}
		</foreach>
		ORDER BY EP_DDAY ASC, EP_PAYDAY ASC
	</select>
	 <update id="refundEvt" parameterType="String" >
		UPDATE EP SET EP_REFUNDSTATE = 0 WHERE M_ID=#{m_id} AND EP_CODE=#{ep_code}
	</update>
	<insert id="refundInsert" parameterType="eventrefund">
		INSERT INTO ER VALUES('ER'||LPAD(ER_SEQ.NEXTVAL,4,0),DEFAULT,#{ep_code},DEFAULT,DEFAULT)
	</insert>
	<select id="epListPayList" parameterType="String" resultType="eventpay">
		SELECT * FROM EP WHERE E_CODE=#{e_code} 
	</select>
	<select id="ceoRefundList" parameterType="String" resultType="eventrefund">
		SELECT * FROM ER WHERE EP_CODE=#{ep_code} and ER_STATE=0 
	</select>
	<select id="refundChk" parameterType="String" resultType="String">
		SELECT EP_CODE FROM ER WHERE EP_CODE=#{ep_code} 
	</select>
	
	<select id="ceoEvtpayChk" parameterType="String" resultType="String">
		SELECT EP_CODE FROM EP WHERE EP_CODE=#{ep_code} 
	</select>
	<select id="eptableChk" parameterType="String" resultType="eventpay">
		SELECT * FROM EP WHERE EP_CODE=#{ep_code} 
	</select>
	<select id="evttableChk" parameterType="String" resultType="event">
		SELECT * FROM E WHERE E_CODE=#{e_code} 
	</select>
	<update id="ceoRefundBtn" parameterType="eventrefund" >
		UPDATE ER SET ER_PENALTY=#{ep_penalty} ,ER_STATE=1 WHERE EP_CODE=#{ep_code} 
	</update>
	<select id="ceoRefundCompleteList" parameterType="String" resultType="EventRefund">
		SELECT * FROM ER WHERE EP_CODE=#{ep_code} and ER_STATE=1
	</select>
	<select id="rBtnChk" parameterType="String" resultType="eventpay">
		SELECT * FROM EP WHERE EP_CODE=#{ep_code} and M_ID=#{m_id} AND EP_REFUNDSTATE=0
	</select>
	<select id="rBtnChk2" parameterType="String" resultType="int">
		SELECT ER_STATE FROM ER WHERE EP_CODE=#{ep_code} 
	</select>
	<select id="rBtnChk3" parameterType="String" resultType="int">
		SELECT ER_PENALTY FROM ER WHERE EP_CODE=#{ep_code} 
	</select>
	<select id="isRefundedEp" parameterType="list" resultType="String">
		SELECT EP_CODE FROM ER WHERE EP_CODE IN
		<foreach collection="ep_codes" item="ep_code" open="(" separator="," close=")">
			#{ep_code}
		</foreach>
	</select>
	<select id="estPayList" parameterType="list" resultType="String">
		SELECT ESTP_CODE FROM ESTP WHERE REQ_CODE IN 
		<foreach collection="req_codes1" item="req_code" open="(" separator="," close=")">
			#{req_code}
		</foreach>
	</select>
	<select id="isrefundedEstp" parameterType="list" resultType="String">
		SELECT ESTP_CODE FROM ESTR WHERE ESTP_CODE IN
		<foreach collection="estp_codes" item="estp_code" open="(" separator="," close=")">
			#{estp_code}
		</foreach>
	</select>
	<select id="getEvtTotal" resultType="Double">
		SELECT EP_TOTAL FROM EP,ER WHERE EP.EP_CODE=#{refundedEp_Code} AND ER_REFUNDDATE LIKE CONCAT(#{choice},'%')
	</select>
	<select id="getEstTotal" resultType="Double">
		SELECT ESTP_TOTAL FROM ESTP,ESTR WHERE ESTP.ESTP_CODE=#{refundedEstp_Code} AND ESTR_REFUNDDATE LIKE CONCAT(#{choice},'%')
	</select>
	<select id="getEstpInfo" parameterType="String" resultType="estimatepay">
		SELECT * FROM ESTP WHERE ESTP_CODE=#{estp_code}
	</select>
	<insert id="refundInsertEstp" parameterType="estimaterefund">
		INSERT INTO ESTR VALUES('ESTR'||LPAD(ESTR_SEQ.NEXTVAL,4,0),DEFAULT,#{estp_code},DEFAULT,DEFAULT)
	</insert>
	<update id="ceoRefundBtnEstp" parameterType="estimaterefund" >
		UPDATE ESTR SET ESTR_PENALTY=#{estp_penalty} ,ESTR_STATE=1 WHERE ESTP_CODE=#{estp_code} 
	</update>
	<update id="updateEstpRefundState">
		UPDATE ESTP SET ESTP_REFUNDSTATE=#{estp_refundstate} WHERE ESTP_CODE=#{estp_code} 
	</update>
</mapper>