<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.event.evengers_v2.dao.PersonnelDao">
<resultMap type="employee" id="employee">
		<result column="emp_code" property="emp_code"/>
		<result column="emp_name" property="emp_name"/>
		<result column="c_id" property="c_id"/>
		<result column="p_code" property="p_code"/>
		<result column="dept_code" property="dept_code"/>
		<result column="emp_rrn" property="emp_rrn"/>
		<result column="emp_enterdate" property="emp_enterdate"/>
		<result column="emp_tel" property="emp_tel"/>
		<result column="emp_addr" property="emp_addr"/>
		<result column="emp_bank" property="emp_bank"/>
		<result column="emp_acnumber" property="emp_acnumber"/>
		<result column="emp_orifilename" property="emp_orifilename"/>
		<result column="emp_sysfilename" property="emp_sysfilename"/>
	</resultMap>
	<resultMap type="position" id="position">
		<result column="p_code" property="p_code"/>
		<result column="p_name" property="p_name"/>
		<result column="c_id" property="c_id"/>
		<result column="p_salary" property="p_salary"/>
	</resultMap>
	<insert id="addPosition" parameterType="position">
		INSERT INTO P VALUES('P'||LPAD(P_SEQ.NEXTVAL,4,0),#{p_name},#{c_id},#{p_salary})
	</insert>
	<select id="getPositionList" parameterType="String" resultType="position">
		SELECT * FROM P WHERE C_ID=#{c_id}
	</select>
	<insert id="addDept" parameterType="department">
		INSERT INTO DEPT VALUES('DEPT'||LPAD(P_SEQ.NEXTVAL,4,0),#{dept_name},#{c_id})
	</insert>
	<select id="getDeptList" parameterType="String" resultType="department">
		SELECT * FROM DEPT WHERE C_ID=#{c_id}
	</select>
	<select id="getPCode" parameterType="String" resultType="String">
		SELECT P_CODE FROM P WHERE C_ID=#{c_id} AND P_NAME=#{p_name}
	</select>
	<select id="getDeptCode" parameterType="String" resultType="String">
		SELECT DEPT_CODE FROM DEPT WHERE C_ID=#{c_id} AND DEPT_NAME=#{dept_name} 
	</select>
	<insert id="performInsert" parameterType="employee">
		INSERT INTO EMP VALUES('EMP'||LPAD(EMP_SEQ.NEXTVAL,4,0),#{emp_name},#{c_id},#{p_code},#{dept_code},#{emp_rrn},#{emp_enterdate},#{emp_tel},#{emp_addr},#{emp_email},#{emp_bank},#{emp_acnumber},#{emp_orifilename},#{emp_sysfilename})	
	</insert>
	<select id="getEmpList" parameterType="String" resultType="employee">
		SELECT * FROM EMP WHERE C_ID=#{c_id}
	</select>
	<select id="getPositionInfo" parameterType="String" resultType="position">
		SELECT * FROM P WHERE P_CODE=#{p_code}
	</select>
	<select id="getDeptInfo" parameterType="String" resultType="department">
		SELECT * FROM DEPT WHERE DEPT_CODE=#{dept_code}
	</select>
	
</mapper>