<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.event.evengers_v2.dao.PersonnelDao">
	<insert id="addPosition" parameterType="position">
		INSERT INTO P VALUES('P'||LPAD(P_SEQ.NEXTVAL,4,0),#{p_name},#{c_id},#{p_salary})
	</insert>
	<select id="getPositionList" parameterType="String" resultType="position">
		SELECT * FROM P WHERE C_ID=#{c_id}
	</select>
	<insert id="addDept" parameterType="department">
		INSERT INTO DEPT VALUES('DEPT'||LPAD(P_SEQ.NEXTVAL,4,0),#{dept_name},#{c_id})
	</insert>
	<select id="getDeptList" parameterType="String" resultType="department">
		SELECT * FROM DEPT WHERE C_ID=#{c_id}
	</select>
	
	<select id="getPCode" parameterType="String" resultType="String">
		SELECT P_CODE FROM P WHERE C_ID=#{c_id} AND P_NAME=#{p_name}
	</select>
	<select id="getDeptCode" parameterType="String" resultType="String">
		SELECT DEPT_CODE FROM DEPT WHERE C_ID=#{c_id} AND DEPT_NAME=#{dept_name} 
	</select>
	<insert id="performInsert" parameterType="employee">
		INSERT INTO EMP VALUES('EMP'||LPAD(EMP_SEQ.NEXTVAL,4,0),#{emp_name},#{c_id},#{p_code},#{dept_code},#{emp_rrn},#{emp_enterdate},#{emp_tel},#{emp_addr},#{emp_email},#{emp_bank},#{emp_acnumber},#{emp_orifilename},#{emp_sysfilename})	
	</insert>
</mapper>