<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.event.evengers_v2.dao.RequestDao">

	<insert id="evtReqInsert" parameterType="request">
		INSERT INTO REQ VALUES('REQ'||LPAD(REQ_SEQ.NEXTVAL,4,0),#{m_id},#{ec_name},
      		#{req_title},#{req_contents},TO_DATE(#{req_hopedate},'YYYY-MM-DDHH24:MI:SS'),#{req_hopearea},#{req_hopeaddr})
   </insert>
   
   <select id="getReqCode" parameterType="String" resultType="String">
   		SELECT MAX(REQ_CODE) FROM REQ
   </select>
   
   <insert id="evtReqImageInsert" parameterType="requestimage">
		INSERT INTO REQI VALUES('REQI'||LPAD(REQI_SEQ.NEXTVAL,4,0),#{reqi_orifilename},#{reqi_sysfilename},#{req_code})   		
   </insert>
   
   <insert id="estInsert" parameterType="estimate">
       INSERT INTO EST VALUES('EST'||LPAD(EST_SEQ.NEXTVAL,4,0),#{req_code},#{c_id},#{est_contents},#{est_total},#{est_okdate},#{est_refunddate})
   </insert>
   
   <select id="getEstCode" parameterType="String" resultType="String">
   		SELECT MAX(EST_CODE) FROM EST WHERE C_ID=#{c_id}
   </select>
   
   <insert id="estImageInsert" parameterType="estimateimage">
       INSERT INTO ESTI VALUES('ESTI'||LPAD(ESTI_SEQ.NEXTVAL,4,0),#{esti_orifilename},#{esti_sysfilename},#{est_code})
   </insert>
   
   <select id="getEstList" parameterType="map" resultType="estimate">
      SELECT * FROM EST WHERE C_ID=#{id}
   </select>
   
   	<select id="getEstCount" resultType="int">
	SELECT COUNT(*) FROM EST
	</select>
	
	<select id="getReqList" parameterType="estimate" resultType="request">
	 SELECT * FROM REQUEST WHERE REQ_CODE=#{req_code}
	</select>
	
	<select id="showEstimate" parameterType="string" resultType="estimate">
	 SELECT * FROM EST WHERE EST_CODE=#{est_code}
	</select>
	
	<select id="getEstimateImage" parameterType="string" resultType="estimateimage">
	SELECT * FROM ESTI WHERE EST_CODE=#{est_code}
	</select>
	
	<select id="getIdTitle" parameterType="string" resultType="request">
	SELECT * FROM REQ WHERE REQ_CODE=#{req_code}
	</select>
	
	<delete id="estiDelete" parameterType="string">
	DELETE FROM ESTI WHERE EST_CODE=#{est_code}
	</delete>
	
	<delete id="estDelete" parameterType="string">
	DELETE FROM EST WHERE EST_CODE=#{est_code}
	</delete>
	
   <!-- 이미결제가 된 친구들은 셀렉을 안함!! -->
   <select id="AllReqList" parameterType="map" resultType="request">
         
         <![CDATA[
         SELECT * FROM 
         (SELECT /*+INDEX_DESC(REQ PK_REQ_CODE)*/
         ROWNUM RN,REQ.* FROM REQ
         WHERE ROWNUM<=#{pageNum}*#{listCount} AND REQ_CODE NOT IN (SELECT DISTINCT REQ.REQ_CODE FROM REQ,ESTP WHERE REQ.REQ_CODE = ESTP.REQ_CODE)
         AND REQ_HOPEDATE > (SELECT SYSDATE FROM DUAL))	
         	 
         WHERE  RN>((#{pageNum}-1)*#{listCount}) 
         ORDER BY REQ_CODE DESC
         
         ]]>	
         	
         	<!-- 행번호가 PN=1*LC=10 = 10보다 같거나 작아야함 -->
   </select>
   
   <select id="getAllReqCount" parameterType="map" resultType="int">
         SELECT COUNT(*) FROM REQ WHERE REQ_CODE NOT IN (SELECT DISTINCT REQ.REQ_CODE FROM REQ,ESTP WHERE REQ.REQ_CODE = ESTP.REQ_CODE)
         	AND REQ_HOPEDATE > (SELECT SYSDATE FROM DUAL) 
         	ORDER BY REQ_HOPEDATE
   </select>
      
   <select id="myReqList" parameterType="map" resultType="request">
         <![CDATA[
         SELECT * FROM 
         (SELECT /*+INDEX_DESC(REQ PK_REQ_CODE)*/
         ROWNUM RN,REQ.* FROM REQ
         WHERE ROWNUM<=#{pageNum}*#{listCount} AND M_ID=#{id} AND REQ_HOPEDATE > (SELECT SYSDATE FROM DUAL) 
         )
          
         WHERE RN>((#{pageNum}-1)*#{listCount})
         ORDER BY REQ_CODE DESC
         
         ]]>
   </select>
   
   <select id="getMyReqCount" parameterType="map" resultType="int">
         SELECT COUNT(*) FROM REQ WHERE M_ID=#{id} 
         	AND REQ_HOPEDATE > (SELECT SYSDATE FROM DUAL) 
         	ORDER BY REQ_HOPEDATE
   </select>
   
   <select id="getReqInfo" parameterType="string" resultType="request">
      SELECT * FROM REQ WHERE REQ_CODE=#{req_code1}
   </select>
   
   <select id="getReqImageInfo" parameterType="string" resultType="requestimage">
      SELECT * FROM REQI WHERE REQ_CODE=#{req_code1}
   </select>
   
   <delete id="reqImageDelete" parameterType="string">
		DELETE FROM REQI WHERE REQ_CODE=#{req_code}
   </delete>
   
    <delete id="reqDelete" parameterType="string">
		DELETE FROM REQ WHERE REQ_CODE=#{req_code}
   </delete>
   
   <select id="ceoChk" resultType="integer"> 
   		SELECT COUNT(*) FROM C WHERE C_ID = #{id} 
   </select>
	
	<select id="getRecivedEstList" parameterType="string" resultType="request">
	 SELECT * FROM REQ WHERE M_ID=#{id} AND REQ_HOPEDATE > (SELECT SYSDATE FROM DUAL)
	</select>
	
	<select id="getRecivedEstList1" parameterType="request" resultType="estimate">
	 SELECT * FROM EST WHERE REQ_CODE=#{req_code}
	</select>
	
	<select id="getEstInfo" parameterType="string" resultType="estimate">
      SELECT * FROM EST WHERE EST_CODE=#{est_code}
   	</select>
	
	<insert id="estPay" parameterType="estimatepay">
       INSERT INTO ESTP VALUES('ESTP'||LPAD(ESTP_SEQ.NEXTVAL,4,0),#{req_code},#{estp_contents},#{estp_total},DEFAULT,#{c_id},#{estp_refunddate},DEFAULT)
   </insert>
   
   <select id="getReqCodes" parameterType="string" resultType="request">
   SELECT * FROM REQ WHERE M_ID=#{m_id} 
   </select>
   
     <!--  <select id='getEstPayList' parameterType="map" resultType="estimatepay">
    <![CDATA[
   SELECT * FROM ESTPLIST_1 WHERE REQ_CODE=#{req_code} AND RONUM>=#{num}*10-9 AND RONUM<=#{num}*10
    ]]>  
    </select> -->
    
    <select id='getEstPayList'  resultType="estimatepay">
   <![CDATA[
        SELECT * FROM 
        (SELECT /*+INDEX_DESC(ESTP PK_ESTP_CODE)*/
        ROWNUM RN,ESTP.* FROM ESTP
        WHERE REQ_CODE=#{req_code}
        AND ROWNUM<=#{num}*#{listCount}) 
        WHERE RN>((#{num}-1)*#{listCount})
        ]]>
    </select>
   
   <select id="getEstpDetail" parameterType="string" resultType="estimatepay">
   SELECT * FROM ESTP WHERE ESTP_CODE=#{estp_code}
   </select>
   
   <select id="getEstpCode" resultType="string">
   SELECT MAX(ESTP_CODE) FROM ESTP
   </select>
   
   <insert id="insertEstpi" parameterType="estimatepayimage">
   INSERT INTO ESTPI VALUES('ESTPI'||LPAD(ESTPI_SEQ.NEXTVAL,4,0),#{estp_code},#{estpi_orifilename},#{estpi_sysfilename})
   </insert>
   
   <select id="getEstpiImage" parameterType="string" resultType="estimatepayimage">
   SELECT * FROM ESTPI WHERE ESTP_CODE=#{estp_code}
   </select>
   
   <select id="getEstSell" parameterType="map" resultType="estimatepay">
         <![CDATA[
      	SELECT * FROM 
      	(SELECT /*+INDEX_DESC(ESTP PK_ESTP_CODE)*/
      	ROWNUM RN,ESTP.* FROM ESTP
      	WHERE ROWNUM<=#{pageNum}*#{listCount} AND C_ID=#{id})
      	WHERE  RN>((#{pageNum}-1)*#{listCount}) 
      	]]>
   </select>
   
   <select id="getPayday" parameterType="string" resultType="estimatepay">
         SELECT estp_payday FROM ESTP WHERE C_ID=#{id}
   </select>
   
   <select id="reqSearch" parameterType="map" resultType="request">
         SELECT * FROM REQ WHERE M_ID=#{id} 
         AND REQ_HOPEDATE > (SELECT SYSDATE FROM DUAL) 
         AND REQ_TITLE LIKE CONCAT('%',CONCAT(#{words},'%')) 
         ORDER BY REQ_HOPEDATE
   </select>
   
   <!-- 이미 결제되고 날짜지나고 입력한거랑 일치하지 않는 데이터 제외 출력 -->
   <select id="allReqSearch" parameterType="map" resultType="request">
         SELECT * FROM REQ WHERE REQ_CODE NOT IN (SELECT DISTINCT REQ.REQ_CODE FROM REQ,ESTP WHERE REQ.REQ_CODE = ESTP.REQ_CODE)
         	AND REQ_HOPEDATE > (SELECT SYSDATE FROM DUAL) 
         	AND REQ_TITLE LIKE CONCAT('%',CONCAT(#{words},'%'))
         	ORDER BY REQ_HOPEDATE
   </select>
   
    
   <update id="estpStateChange" parameterType="string">
   UPDATE ESTP SET ESTP_REFUNDSTATE='1' WHERE ESTP_CODE=#{estp_code}
   </update>
    
    <insert id="insertRefund" parameterType="string">
    INSERT INTO ESTR VALUES('ESTR'||LPAD(ESTR_SEQ.NEXTVAL,4,0),DEFAULT,#{estp_code},DEFAULT,DEFAULT)
   </insert>   
   
   <select id="RefundAcceptList1" parameterType="string" resultType="estimatePay">
   SELECT * FROM ESTP WHERE C_ID=#{id} AND ESTP_REFUNDSTATE=1
   </select>
   
   <select id="RefundAcceptList" parameterType="string" resultType="estimatePay">
   SELECT * FROM ESTP WHERE C_ID=#{id} AND ESTP_REFUNDSTATE=2
   </select>
    
   <select id="getRefundInfo" parameterType="string" resultType="request">
   SELECT * FROM REQ WHERE REQ_CODE=#{req_code}
   </select>
   
  <select id="getEstr" resultType="estimaterefund">
        SELECT * FROM ESTR WHERE ESTP_CODE=#{estp_code} AND ESTR_STATE=0 
   </select>
   
     <update id="insertPenalty" parameterType="estimaterefund">
   UPDATE ESTR SET ESTR_STATE='1',ESTR_PENALTY=#{estr_penalty} WHERE ESTP_CODE=#{estp_code}
   </update>

   <update id="changeState" parameterType="estimaterefund">
   UPDATE ESTP SET ESTP_REFUNDSTATE='2' WHERE ESTP_CODE=#{estp_code}
   </update>
  
   <select id="getCompleteEstr" resultType="estimaterefund">
   SELECT * FROM ESTR WHERE ESTP_CODE=#{estp_code} AND ESTR_STATE=1
  
   </select>
  
   <select id="getReqTitle" parameterType="estimate" resultType="request">
   SELECT * FROM REQ WHERE REQ_CODE=#{req_code}
   </select>
   
    <select id="getReqTitle1" parameterType="estimatepay" resultType="request">
   SELECT * FROM REQ WHERE REQ_CODE=#{req_code}
   </select>
   <select id="getReqCodeList" resultType="String">
		SELECT REQ_CODE FROM REQ
	</select>
	
	<select id="gethopedate" parameterType="string" resultType="String">
         SELECT REQ_HOPEDATE FROM REQ WHERE REQ_CODE=#{req_code}
   </select>
   
   <select id="getEstpCount" parameterType="map" resultType="int">
         SELECT COUNT(*) FROM ESTP WHERE C_ID=#{id}
   </select>
	
    <!-- <select id="getEstSell" resultType="estimatepay">
   		<![CDATA[
        SELECT * FROM 
        (SELECT /*+INDEX_DESC(ESTP PK_ESTP_CODE)*/
        ROWNUM RN,ESTP.* FROM ESTP
        WHERE C_ID=#{id}
        AND ROWNUM<=#{pageNum}*#{listCount}) 
        WHERE RN>((#{pageNum}-1)*#{listCount})
        ]]>
   </select>  -->
   
</mapper>